@model Examen.ApplicationCore.Domain.Produit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateProd" class="control-label"></label>
                <input asp-for="DateProd" class="form-control" />
                <span asp-validation-for="DateProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="destination1" class="control-label"></label>
                <input asp-for="destination1" class="form-control" />
                <span asp-validation-for="destination1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="CategorieFK" class="control-label"></label>
              @*  <input asp-for="CategorieFK" class="form-control" />*@
              <select asp-for="CategorieFK"class="from-"
                <span asp-validation-for="CategorieFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
